[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "openair"]
	path = openair
	url = https://github.com/openair-project/openair
[submodule "openairmaps"]
	path = openairmaps
	url = https://github.com/openair-project/openairmaps
[submodule "worldmet"]
	path = worldmet
	url = https://github.com/openair-project/worldmet
